@import"vars";
@import"global";
@import"_fonts";

.header__top-inner {
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}

.header__text {
    margin-left: auto;
    margin-right: 50px;
    color: $red;
}

.header__btn {
    width: 72px;
    padding: 4px;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    font-size: 12px;
}

.header__btn-login {
    background-color: $green;
}

.header__btn-registr,
.header__btn-logout {
    background-color: $red;
    margin-left: 7px;
}

.header__menu {
    background-color: $bg;
}

.menu {
    display: flex;
    align-items: center;
    height: 60px;
}

.menu__list {
    li {
        display: inline-block;

        &+li {
            margin-left: 30px;
        }
    }

    a {
        color: #fff;
        font-size: 14px;
    }
}

.header__circle {
    &.active{
        display: block;
    }
    display: none;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    background-color: #f5f5f5;
    position: relative;

    &::before {
        position: absolute;
            top: 50%;
            left: 50%;
        transform: translate(-50%, -50%);
        color: #a0a0a0;
        font-size: 14px;
    }
    span{
        position: absolute;
        height: 18px;
        width: 18px;
        border-radius: 50%;
        text-align: center;
        line-height: 18px;
        right: -7px;
        top: -7px;
        color: #fff;
    }
}
.header__box{
    display: flex;
    align-items: center;
}
.header__btn-login--off{
    display: none;
}
.header__btn-logout{
     display: block;
&.header__btn-login--off{
    display: block;
}
}
.notification{
    span{
background-color: $yellow;
    }
}
.message{
span{
background-color: $tomate;
}
}
.basket{
    span{
background-color: $green;        
    }
}
.user{
    margin-left: 20px;
    margin-right: 25px;
    padding-right: 20px;
    position: relative;
    &::before{
content: "\f107";
position: absolute;
font-family: 'icomoon';
font-size: 16px;
color: #707070;
top: 0;
right: 0;
    }
    &__inner{
        display: flex;
        align-items: center;
    }
&__images{
margin-right: 15px;
width: 34px;
height: 34px;
overflow: hidden;
}
&__info{
    font-size: 14px;
    line-height: 24px;

}
&__name{
font-size: 14px;
@include f500;
color: #222;
line-height: 24px;
}
&__money{
color: $green;
@include f700;
}
}
.user__menu{
top: 69px;
left: 20px;
    border: 0px solid rgb(204, 204, 204);
    position: absolute;
    background-color: #fff;
    padding: 0px 20px;
    width: 158px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    height: 0px;
    overflow: hidden;
    a{
        font-style: 12px;
        color: #546e7a;
        margin-bottom: 15px;

  
    }
}
.basket__menu{
    position: absolute;
    top: 69px;

}
.user__box,
.basket__box,
.notification__box,
.massage__box{
    margin-top: 40px;
    height: 90px;
    position: relative;
    &:hover{
        .user__menu{
            height: auto;
            border-width: 1px;
            padding: 20px;
            overflow: auto;
        }
    }
}

.basket__menu{
 border-top: 1px solid #e0e0e0; 
 right: 0;
 top: 62px;   
 height: 0px;
 overflow: hidden;
 transition: all .3s;
}
.basket__box,
.notification__box,
.massage__box{
    margin-top: 54px;
    margin-left: 15px;
   &:hover{
       .header__circle::before {
           color: $bg;
       }
       .basket__menu{
          overflow: hidden;
          height: auto;
       }
       .basket__item{
           padding: 23px 23px;
border-width: 1px;
       }
   }
}
.basket__item{
    background-color: #fff;
    padding: 0 23px;
    transition: all .3s;
    border-left-width: 1px;
    border-right-width: 1px;
    border: 0px solid #e0e0e0;
    border-top: none;
    display: flex;
    align-items: center;
    width: 269px;
    position:relative;
    &::before{
        position: absolute;
        top: 27px;
        right: 28px;
        color: #b0bec5;
    }
}
.bastet__images{
    margin-right: 15px;
}
.basket__info-name{
@include f500;
color: $bg;
}
.basket__info-thema{
font-size: 12px;
color: $green;
}
.basket__info-price{
@include f500;   
color: #000;
font-style: 16px;
}
.basket__info-date{
font-size: 10px;
color: #e0e0e0;
}
.bassket__summ{
    padding: 16px 17px 12px;
    border: 1px solid #e0e0e0;
    border-top: none;
    background-color: #fff;
}
.bassket__summ-title{
    display: flex;
    justify-content: space-between;
    padding-left: 13px;
    padding-right: 22px;
    @include f700;
    font-size: 16px;
    color: $bg;

}
.basket__btn{
    @include f700;
    padding: 12px 5px;
    font-size: 14px;
    background-color: $green;
    text-align: center;
    width: 100px;
    color: #fff;
}
.basket__btn-checkout{
    background-color: $red;
    width: 123px;
    margin-left: 6px;
}
.notification__menu,
.massage__menu{
.basket__images{
margin-right: 20px;
width: 48px;
height: 48px;
border-radius: 50%;
}
.basket__info{
    line-height: 18px;
}
}
.icons-color{
    color: $tomate;
}
// .basket__box{
//     margin-top: 40px;
//     height: 90px;
//     position: relative;
//     &:hover{
        
//         .basket__menu{
//             height: auto;
//             border-width: 1px;
//             padding: 20px;
//             overflow: auto;
//         }
//     }
// }
.basket__box{
    margin-top: 55px;
}
.search {

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 533px;
}

.search__inner {
    padding: 155px 0px 100px;
    text-align: center;

    &-title {
        margin-bottom: 10px;
        font-size: 48px;
        color: #fff;
        @include f700;
        line-height: 72px;
    }

    &-text {
        margin-bottom: 50px;
        font-size: 20px;
        color: #fff;
        @include f500;
        line-height: 30px;
    }

    &-form {
        max-width: 670px;
        margin: 0 auto;
        position: relative;

        input {
            display: block;
            width: 100%;
            box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
            border-radius: 4px;
            height: 56px;
            border: none;
            font-size: 14px;
            @include f500;
            padding-left: 25px;
            padding-right: 60px;

            &::placeholder {
                color: #3c474e;
                @include f500;
            }

        }

        button {
            position: absolute;
            border: none;
            background-color: transparent;
            height: 20px;
            width: 20px;
            margin-left: 55%;
            margin-top: -40px;
        }
    }
}

.products {
    padding: 110px 0 110px;
    background-color: $grey;
}

.products__inner-btn {
    text-align: center;
    margin-bottom: 60px;

    button {
        padding: 12px 21px;
        border: none;
        background-color: #fff;
        color: $bg;
        cursor: pointer;

        &+button {
            margin-left: 5px;
        }

        &.mixitup-control-active {
            background-color: $red;
            color: #fff;
        }
    }
}

.products__inner-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.products__item {
    max-width: 442px;
    width: 100%;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    margin-bottom: 30px;

    &-img {
        min-height: 250px;
        max-width: 442px;
        background-repeat: no-repeat;
        display: block;
        background-position: center;
        background-size: cover;
    }

    &-content {
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        align-items: center;
        min-height: 90px;
        @include f500;
        border-bottom: 1px solid #e7ecf2;
    }

    &-name {
        max-width: 310px;
    }

    &-title {
        color: $bg;
        line-height: 60px;
        @include f500;
        font-size: 18px;
        display: block;
    }

    &-category {
        display: block;
        font-size: 14px;
        color: $green;
    }

    &-price {
        font-size: 20px;
        color: $bg;
    }

    &-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 70px;
        padding: 10px 30px;
    }

    &-autor {
        display: flex;
        align-items: center;

        .avatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-position: center;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 14px;
        }

        span {
            font-size: 14px;
            @include f500;
        }
    }
}

.products__bottom-btn {
    text-align: center;

    button {
        margin: 45px 5px 0;
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
        border: none;
        background-color: #fff;
        color: $bg;
        padding: 20px 30px;
        cursor: pointer;

        &.mixitup-control-active {
            background-color: $red;
            color: #fff;
        }
    }

}

//start product slider
.product-slider {
    padding: 110px 0 120px;

    .slick-dots {
        text-align: center;
        margin-top: 50px;

        li {
            display: inline-block;
            margin-left: 3px;
            margin-right: 3px;

            &.slick-active {
                button {
                    background-color: $green;
                }
            }

            button {
                border-radius: 50%;
                background-color: rgb(232, 232, 232);
                border: none;
                font-size: 0;
                width: 16px;
                height: 16px;
                cursor: pointer;
                outline: none;
            }
        }
    }
}

//adventeges start
.advantages {
    background-color: $bg;
    padding: 110px 0;
}

.advantages__title {
    color: #fff;
}

.advantages__inner {
    display: flex;
    justify-content: space-between;
}

.advantages__item {
    max-width: 370px;
    text-align: center;
    padding: 0 15px;

    &:hover {
        .advantages__item-images {
            background-color: $green;

        }

        .advantages__item-title {
            color: $green;
        }

        .advantages__item-images {
            g {
                fill: #fff
            }

            .cls-2 {
                fill: #fff;
            }
        }
    }

    &-images {
        width: 114px;
        height: 114px;
        border-radius: 50%;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        margin: 0 auto;
        transition: all .5s;
    }

    &-title {
        font-size: 24px;
        color: #fff;
        margin-bottom: 25px;
        @include f500;
        transition: all .5s;
    }

    &-text {
        font-size: 15px;
    }
}

.icosvg-2 {
    svg {
        width: 70px;
    }
}

.icosvg-3 {
    svg {
        width: 86px;
    }
}

// start autor
.author {
    background-image: url(/img/jpg/autor.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__box {
        min-width: 520px;
        min-height: 215px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $green;
    }

    &__title {
        font-size: 30px;
        line-height: 30px;
        color: #fff;
        margin-right: 45px;
        max-width: 298px;
        margin-left: 3%;

        span {
            @include f700
        }
    }

    &__link {
        margin-right: 3%;
        font-size: 18px;
        line-height: 36px;
        padding: 14px 40px;
        background-color: #fff;
        min-width: 142px;
    }
}

//tutorial start
.tutorial {
    padding: 70px 0 120px;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        max-width: 370px;
        width: 100%;
    }
}

.tutorial__item {
    &-tittle {
        background-color: #f8f8f8;
        text-align: center;
        font-size: 24px;
        @include f700;
        padding: 30px 10px;
        color: $bg;
        margin-top: -8px;
    }
}

.tutorial__images-img {
    min-height: 270px;
    width: 370px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

//start footer
.footer {
    background-color: $bg;

    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 100px 0 80px;
    }
}

.footer__copy {
    border-top: 1px solid #424d53;
}

.footer__copy-text {
    text-align: center;
    font-size: 15px;
    color: #b7c3c8;
    padding: 25px 0;
}

.footer__col {
    max-width: 270px;
    width: 100%;

    &-menu {
        max-width: 220px;
    }

    &-title {
        font-size: 22px;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        color: #fff;
        padding-bottom: 22px;
        margin-bottom: 30px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 2px;
            width: 51px;
            height: 3px;
            background-color: $green;
        }
    }

    &-text {
        color: #b7c3c8;
        margin-bottom: 30px;
    }
}

.footer__info {
    font-family: "";
    margin-top: 18px;
    color: #fff;
    @include f500;
    padding-left: 30px;
    position: relative;

    &::before {
        content: "\f041";
        color: $green;
        font-size: 18px;
        font-family: "icomoon";
        position: absolute;
        left: 0;
    }
}

.footer__info-phone {
    &::before {
        content: "\f095";
    }
}

.footer__col-list {
    a {
        margin-bottom: 13px;
        color: #b7c3c8;
        padding-left: 22px;
        position: relative;

        &::before {
            content: "\f054";
            color: $green;
            position: absolute;
            left: 0;
            font-size: 18px;
            font-family: "icomoon";
        }
    }
}

.footer__social-link {
    margin-bottom: 33px;

    li {
        display: inline-block;
    }

    a {
        width: 28px;
        height: 28px;
        background-image: url(/img/css_sprites\(1\).png);

        &+a {
            margin-left: 7px;

        }
    }
}

.link-twitter {
    background-position: -32px 0;
}

.link-youtube {
    background-position: -3px -31px;
}

.link-pinterest {
    background-position: -32px -31px;
}

.link-linkidin {
    background-position: -61px 0;
}

.footer__form-title {
    margin-bottom: 15px;
    color: #fff;
    font-size: 20px;
}

.footer__form {
    position: relative;

    input {
        border: none;
        display: block;
        width: 210px;
        background-color: #2f3c43;
        height: 40px;
        font-size: 14px;
        color: #697378;
        padding-left: 13px;
        padding-right: 50px;

        &::placeholder {
            color: #697378;
        }
    }

    button {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: $green;
        border: none;
        height: 42px;
        width: 43px;
        cursor: pointer;

        &::before {
            content: "\f1d8";
            position: absolute;
            font-family: "icomoon";
            color: #fff;
            font-size: 20px;
            top: 11px;
            left: 11px;
        }
    }
}